body {
  font-family: sans-serif;
  font-size: 20px;
}

section {
  background-color: #f0f8ff;
  box-shadow: 1px 1px 30px #bcc1c5;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  margin: auto;
}

header {
  text-align: center;
  color: #f0f8ff;
}

footer {
  text-align: center;
  color: #f0f8ff;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

div {
  text-align: center;
  padding: 10px;
}
